{% extends "base.html" %}
{% block title %}
Keyboards Page
{% endblock  %}
{% block content %}
<div class="container row gap-3">
  {% for huddie in huddies %} 
    <div class="card" style="width: 18rem;">
        <a style="text-decoration: none; color:black;" href="{% url 'detail' huddie.id %}">
        <img style="height: 6cm;" src="{{huddie.images.first.p_image.url }}" class="card-img-top" alt="...">
       <div  class="card-body">
         <h5 class="card-title">{{huddie.p_title}}</h5>
          <p class="card-text">Rs {{huddie.p_price}} </p>
       </div>
       </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
